<div class='col-3 offset-1 my-3'>
  <%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: 'no_image.jpg', size:'100x100', id: :img_prev %>
</div>

<div class='my-3 field'>
  <%= f.label :プロフィール画像, class: 'col-3 text-center' %>
  <%= f.attachment_field :profile_image, id: 'user_img', class: 'col-6 user_profile_image' %>

<script type='text/javascript'>
  $(function() {
    function readURL(input) {
      if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
    $('#img_prev').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
      }
    }
    $('#user_img').change(function() {
      readURL(this);
    });
  });
</script>
</div>

<div class='my-3 field'>
	<%= f.label :ユーザーネーム, class: 'col-3 text-center' %>
	<%= f.text_field :user_name, class: 'col-6 user_name' %>
</div>

<div class='my-3 field'>
  <%= f.label :メールアドレス, class: 'col-3 text-center' %>
  <%= f.text_field :email, class: 'col-6 email' %>
</div>

<div class='my-3 field'>
	 <%= f.label :自己紹介, class: 'col-3 text-center' %>
	 <%= f.text_area :introduction, class: 'col-6 introduction' %>
</div>

<div class='my-3 field'>
  <%= f.label :性別, class: 'col-3 text-center' %>
  <%= f.select :gender, ['無回答', '男性', '女性'], class: 'col-2 gender' %>
</div>

<div class='actions'>
	<%= f.submit '編集内容を保存する', class:'col-6 offset-3 btn btn-success btn-block' %>
</div>
