<table class='mt-1 table user-table'>
  <thead class='table-primary'>
    <tr>
	    <th class='text-center' style='width: 15%'>ユーザーID</th>
	    <th class='text-center' style='width: 20%'>プロフィール画像</th>
	    <th style='width: 15%'>ユーザー名</th>
	    <th style='width: 10%'>性別</th>
	    <th class='text-center' style='width: 40%'>自己紹介</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class='text-center'><%= user.id %></th>
      <td class='text-center'><%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: 'no_image.jpg', size:'50x50' %></td>
      <td><%= user.user_name %></td>
      <td><%= user.gender %></td>
      <td><%= user.introduction %></td>
    </tr>
  </tbody>
</table>
<div class='col-8 offset-3'>
  <% if user == current_user %>
    <%= link_to 'ユーザー情報編集', edit_user_path, class:'mx-1 btn btn-outline-success' %>
    <%= link_to 'パスワードを変更する', edit_user_registration_path, class:'mx-1 btn btn-outline-primary' %>
  <% elsif admin_signed_in? %>
    <%= link_to 'ユーザー情報編集', edit_admins_user_path, class:'mx-1 btn btn-outline-success' %>
    <%= link_to '削除', admins_user_path, method: :delete, class:'mx-1 btn btn-outline-danger' %>
  <% else %>
  <% end %>
</div>

