<h1>カテゴリ</h1>
<% @categories.each do |category| %>
<%= link_to ({controller: 'admins/appliances', action: 'index', id: category.id }) do %>
<%= category.category_name %>
<% end %>
<% end %>

<h1>家電情報一覧</h1>

<% @appliances.each do |appliance| %>
<%= attachment_image_tag(appliance, :image, :fill, 100, 100, fallback: 'no_image.jpg', size:'100x100') %>
<%= appliance.user.user_name %>
<%= appliance.category.category_name %>
<%= appliance.maker %>
<%= appliance.product %>
<%= link_to '詳細', admins_appliance_path(appliance.id) %>
<% end %>