<% if admin_signed_in? %>

  <div class='pt-2 border-bottom border text-center bg-warning'>
    <h4 class='category-title'>カテゴリ</h4>
  </div>

  <div class='mb-5 list-group'>
    <% categories.each do |category| %>
      <%= link_to ({controller: 'admins/appliances', action: 'index', id: category.id }) do %>
      <div class='list-group-item list-group-item-action'><%= category.category_name %></div>
      <% end %>
    <% end %>
  </div>

<% else %>

  <%= link_to '新規投稿', new_appliance_path, class:'my-4 btn btn-success btn-block' %>

  <div class='pt-2 border-bottom border text-center bg-warning'>
    <h4 class='category-title'>カテゴリ</h4>
  </div>

  <div class='mb-5 list-group'>
    <% categories.each do |category| %>
      <%= link_to ({controller: 'users/appliances', action: 'index', id: category.id }) do %>
      <div class='list-group-item list-group-item-action'><%= category.category_name %></div>
      <% end %>
    <% end %>
  </div>

<% end %>
