<%= render 'layouts/error_messages', obj:@category %>
<h1>カテゴリ編集</h1>

<%= form_for(@category, url:admins_category_path) do |f| %>
<div class='field'>
  <%= f.label :カテゴリ名 %>
  <%= f.text_field :category_name, class: 'category' %>
</div>

<div class='field'>
  <%= f.label :有効寿命設定月数 %>
  <%= f.number_field:effective_life, class: 'effective_life' %>
</div>

<div class='actions'>
	  <%= f.submit '更新' %>
</div>

<% end %>