<div class='container'>
  <div class='row'>
    <div class='col-8 offset-2'>
    <h1 class='mt-3 border-bottom border-secondry' >カテゴリ編集</h1>

    <%= form_for(@category, url:admins_category_path) do |f| %>
    <%= render 'layouts/error_messages', obj:@category %>

    <div class='my-3 field'>
      <%= f.label :カテゴリ名, class: 'col-4 text-center' %>
      <%= f.text_field :category_name, class: 'col-4 category' %>
    </div>

    <div class='my-3 field'>
      <%= f.label :有効寿命設定月数, class: 'col-4 text-center' %>
      <%= f.number_field:effective_life, class: 'col-4 effective_life' %>
    </div>

    <div class='actions'>
	    <%= f.submit '更新', class:'col-4 offset-4 btn btn-success btn-block' %>
    </div><br>

    <% end %>
    </div>
  </div>
</div>
 