<table class='table table-bordered table-hover text-center' style='table-layout:fixed;'>
	<thead>
		<tr>
			<th style='width: 10%'>ユーザーID</th>
			<th style='width: 15%'>プロフィール画像</th>
			<th style='width: 30%'>ユーザーネーム</th>
			<th style='width: 30%'>メールアドレス</th>
			<th style='width: 10%'>詳細内容</th>
    </tr>
	</thead>
	<tbody>
  <% users.each do |user| %>
    <tr>
      <th><%= user.id %></th>
	    <td>
　　　　 <%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: 'no_image.jpg', size:'50x50' %>
      </td>
      <td><%= user.user_name %></td>
      <td><%= user.email %></td>
      <td><%= link_to '詳細', admins_user_path(user), class:'btn btn-outline-success' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
