<h1>ユーザーの一覧</h1>

<% @users.each do |user| %>
<%= user.id %>
<%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: 'no_image.jpg', size:'100x100') %>
<%= user.user_name %>
<%= user.email %>
<%= link_to '詳細', admins_user_path(user) %>
<% end %>