<table class='table table-bordered table-hover appliance-table'>
	<thead class='table-warning'>
	<tr>
		<th class='text-center' style='width: 15%'>家電画像</th>
		<th class='text-center' style='width: 20%'>カテゴリ名</th>
		<th class='text-center' style='width: 20%'>メーカー</th>
		<th class='text-center' style='width: 20%'>製品名</th>
		<th class='text-center' style='width: 15%'>詳細内容</th>
  </tr>
	</thead>
	<tbody>
  <% appliances.each do |appliance| %>
  <tr>
	  <td class='text-center'>
      <%= attachment_image_tag appliance, :image, :fill, 50, 50, fallback: 'none_image.jpg', size:'50x50' %>
    </td>
    <td><%= appliance.category.category_name %></td>
    <td><%= appliance.maker %></td>
    <td><%= appliance.product %></td>
    <td class='text-center'><%= link_to '詳細',appliance_path(appliance.id), class:'btn btn-outline-success' %></td>
    </tr>
    <% end %>
    </tbody>
</table>
