<div class='container'>
	<h1 class='my-4 border-bottom border-secondry'>家電情報一覧</h1>
  <div class='row'>
    <div class='col-4'>
      <%= link_to '新規投稿', new_appliance_path, class:'my-4 btn btn-success btn-block' %>
      <h2 class='border-bottom border text-center bg-warning'>カテゴリ</h2>
        <div class='mb-5 list-group'>
        <% @categories.each do |category| %>
          <%= link_to ({controller: 'users/appliances', action: 'index', id: category.id }) do %>
          <div class='list-group-item list-group-item-action text-center'><%= category.category_name %></div>
          <% end %>
        <% end %>
        </div>
    </div>
    <div class='col-8'>
      <h2 class='my-4 border-bottom border-secondry text-center'>お知らせ</h2>
      <table class='table table-hover'>
        <thead>
          <tr>
	          <th>通知日</th>
	          <th>タイトル</th>
	          <th>詳細内容</th>
          </tr>
        </thead>
        <tbody>
          <% @notices.first(5).each do |notice| %>
          <tr>
            <th><%= notice.created_at.strftime('%Y/%m/%d') %></th>
            <th><%= notice.title %></th>
            <th><%= link_to '詳細',notice_path(notice.id), class:'btn btn-outline-primary' %></th>
          <% end %>
          </tr>
        </tbody>
      </table>

      <h2 class='my-4 border-bottom border-secondry text-center'>家電情報一覧</h2>
      <table class="table table-bordered table-hover text-center">
	      <thead >
		      <tr>
			      <th>家電画像</th>
			      <th>カテゴリ名</th>
			      <th>メーカー</th>
			      <th>製品名</th>
			      <th>詳細内容</th>
          </tr>
	      </thead>
	      <tbody>
          <% @appliances.each do |appliance| %>
          <tr>
	          <td>
               <%= link_to appliances_path(appliance.id) do %>
               <%= attachment_image_tag appliance, :image, :fill, 50, 50, fallback: 'none_image.jpg', size:'50x50' %>
               <% end %>
            </td>
            <td><%= appliance.category.category_name %></td>
            <td><%= appliance.maker %></td>
            <td><%= appliance.product %></td>
            <td><%= link_to '詳細',appliance_path(appliance.id), class:'btn btn-outline-success' %></td>
          </tr>
          <% end %>
        </tbody>
      </table><br>
    </div>
  </div>
 </div>
