<div class='container'>
  <div class='row'>
    <div class='col-10 offset-1'>

      <h1 class='mt-3 border-bottom border-warning'>新規家電登録</h1>
      <%= form_for(@appliance_new) do |f| %>
      <%= render 'layouts/error_messages', obj:@appliance_new %>
      <%= render 'form', appliance:@appliance_new, f:f %>
      <% end %>

      <h5 class='mt-3 text-center' >※画像が用意できない場合は、下記をダウンロードして使用下さい！！</h5>
      <div class='ml-3 flex-row'>
        <%= image_tag 'cat1.jpg', size:'200x200', class:'m-2 rounded'  %>
        <%= image_tag 'cat2.jpg', size:'200x200', class:'m-2 rounded'  %>
        <%= image_tag 'cat3.jpg', size:'200x200', class:'m-2 rounded'  %>
        <%= image_tag 'cat4.jpg', size:'200x200', class:'m-2 rounded'  %>
        <%= image_tag 'cat5.jpg', size:'200x200', class:'m-2 rounded' %>
        <%= image_tag 'cat6.jpg', size:'200x200', class:'m-2 rounded' %>
        <%= image_tag 'cat7.jpg', size:'200x200', class:'m-2 rounded' %>
        <%= image_tag 'cat8.jpg', size:'200x200', class:'m-2 rounded' %>
        <%= image_tag 'cat9.jpg', size:'200x200', class:'m-2 rounded' %>
        <%= image_tag 'cat10.jpg', size:'200x200', class:'m-2 rounded' %>
        <%= image_tag 'cat11.jpg', size:'200x200', class:'m-2 rounded' %>
        <%= image_tag 'cat12.jpg', size:'200x200', class:'m-2 rounded' %>
        <%= image_tag 'cat13.jpg', size:'200x200', class:'m-2 rounded' %>
        <%= image_tag 'cat14.jpg', size:'200x200', class:'m-2 rounded' %>
        <%= image_tag 'cat15.jpg', size:'200x200', class:'m-2 rounded' %>
        <%= image_tag 'cat16.jpg', size:'200x200', class:'m-2 rounded' %>
      </div><br>

    </div>
  </div>
</div>
