<div class='container'>
  <div class='row'>
    <div class='col-4'>
      <%= link_to '新規投稿', new_appliance_path, class:'my-4 btn btn-success btn-block' %>
      <h2 class='border-bottom border text-center bg-warning'>カテゴリ</h2>
        <div class='mb-5 list-group'>
        <% @categories.each do |category| %>
          <%= link_to ({controller: 'users/appliances', action: 'index', id: category.id }) do %>
          <div class='list-group-item list-group-item-action text-center'><%= category.category_name %></div>
          <% end %>
        <% end %>
        </div>
    </div>

    <div class='col-8'>
      <div class='my-3 card'> 
        <%= image_tag 'top.jpg', class:'image-filed' %>
        <h2 class='my-4 border-bottom border-secondry text-center' >ようこそ、家電ChangeRecorderへ</h2>
        <p class='text-center'>家電製品の購入日や稼働開始日を登録すると保証期限や有効寿命が経過する前に通知を行い、<br>他の利用者の投稿内容や稼働期間を閲覧できることで買い替え時の参考にできるサイトです。</p>
      </div>
      <div class='col-12'>
      <h2 class='my-4 border-bottom border-secondry text-center'>お知らせ</h2>
      <table class='table table-hover'>
        <thead>
          <tr>
	          <th>通知日</th>
	          <th>タイトル</th>
	          <th>詳細内容</th>
          </tr>
        </thead>
        <tbody>
          <% @notices.first(5).each do |notice| %>
          <tr>
            <th><%= notice.created_at.strftime('%Y/%m/%d') %></th>
            <th><%= notice.title %></th>
            <th><%= link_to '詳細',notice_path(notice.id), class:'btn btn-outline-primary' %></th>
          <% end %>
          </tr>
        </tbody>
      </table>

      <h2 class='my-4 border-bottom border-secondry text-center'>最近の投稿</h2>
      <table class="table table-bordered table-hover text-center">
	      <thead >
		      <tr>
			      <th>家電画像</th>
			      <th>カテゴリ名</th>
			      <th>メーカー</th>
			      <th>製品名</th>
			      <th>詳細内容</th>
          </tr>
	      </thead>
	      <tbody>
          <% @appliances.first(8).each do |appliance| %>
          <tr>
	          <td>
               <%= link_to appliances_path(appliance.id) do %>
               <%= attachment_image_tag appliance, :image, :fill, 50, 50, fallback: 'none_image.jpg', size:'50x50' %>
               <% end %>
            </td>
            <td><%= appliance.category.category_name %></td>
            <td><%= appliance.maker %></td>
            <td><%= appliance.product %></td>
            <td><%= link_to '詳細',appliance_path(appliance.id), class:'btn btn-outline-success' %></td>
          </tr>
          <% end %>
        </tbody>
      </table><br>
      </div>
    </div>
  </div>
</div>
